@charset "UTF-8";

* {
    font-family: Comspot;
    margin: 0;
    padding: 0;
}



.body-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 12fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    background-image: url(https://img.freepik.com/foto-gratis/taza-cafe-crema-cafe-granos-cafe-sobre-fondo-color-melocoton-pastel-diseno-creativo-concepto-desayuno-vista-superior-endecha-plana_166373-1918.jpg?w=740&t=st=1668383844~exp=1668384444~hmac=741e0ed15d9b7c6ef2d88e488055ae664e387b39edfb05f96faa8b17562ebd69);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 10% 80%;
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.headerIndex {
    position: fixed
}

header,
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-superior {
    width: 100px;
    height: auto;
}

ul {
    list-style: none;
    padding-left: 50px;
    text-decoration: none;
    display: flex;
    width: 400px;
}

li {
    justify-content: space-evenly;
}


ul a,
.botones {
    text-decoration: none !important;
    color: white !important;
    padding: 2px 10px !important;
    border: 1px solid !important;
    border-radius: 5px !important;
    background-color: black;
    transition: all 0.5s ease-out !important;
    cursor: pointer !important;
    font-size: 150% !important;
}


ul a:hover,
.botones:hover {
    text-decoration: none;
    color: black !important;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    padding: 2px 10px;
}

.logo-superior {
    width: 150px;
    height: auto;
    padding: 0 0 0 6px;
}

/*MAIN INDEX*/
.container-boton-inicio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;

}

.boton-iniciarCompra {
    text-decoration: none;
    color: white;
    padding: 2px 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: black;
    transition: all 0.5s ease-out;
    cursor: pointer;
    font-size: 150%;
    padding: 2%;
    font-size: 200%;
    margin-right: 15%;
}

.boton-iniciarCompra:hover {
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    transform: scale(1.15);
}

.botonComprar {
    margin-top: 6px;
    background-color: black !important;
    border-color: black !important;
}

.botonComprar:hover {
    background-color: white !important;
    color: black !important;
}


/*ESTILO PARA CARRITO*/

.mainContainerCarrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.containerOl {
    width: 50%;
    font-size: 150% !important;


}



.contenedorBotones {
    margin-top: 2%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.divProductoCarrito {
    text-align: center;
}

/*FOOTER*/

.derechos {
    text-align: center;
    margin: 0;
    padding-top: 0%;
    color: black;
    font-size: 25px;
}

@font-face {
    font-family: Comspot;
    src: url(./Fuentes/TYPEMATES\ -\ COMSPOT.OTF);
}


/*Productos*/
.cardsContainer {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card {
    height: 80% !important;
    width: auto !important;
    margin: 10%;
}