@charset "UTF-8";

* {
    font-family: Comspot;
    margin: 0;
    padding: 0;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 11fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    background-image: url(https://img.freepik.com/foto-gratis/taza-cafe-crema-cafe-granos-cafe-sobre-fondo-color-melocoton-pastel-diseno-creativo-concepto-desayuno-vista-superior-endecha-plana_166373-1918.jpg?w=740&t=st=1668383844~exp=1668384444~hmac=741e0ed15d9b7c6ef2d88e488055ae664e387b39edfb05f96faa8b17562ebd69);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 10% 80%;
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 5px;
}

header,
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-superior {
    width: 100px;
    height: auto;
}

ul {
    list-style: none;
    padding-left: 50px;
    text-decoration: none;
    display: flex;
    width: 600px;
}

li {
    justify-content: space-evenly;
}


ul a {
    text-decoration: none;
    color: white;
    padding: 2px 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: black;
    transition: all 0.5s ease-out;
    cursor: pointer;
    font-size: 150%;
}


ul a:hover {
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    padding: 2px 10px;
}

.logo-superior {
    width: 150px;
    height: auto;
    padding: 0 0 0 6px;
}

/*MAIN INDEX*/
.main-inicio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.boton-comprar {
    text-decoration: none;
    color: white;
    padding: 2px 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: black;
    transition: all 0.5s ease-out;
    cursor: pointer;
    font-size: 150%;
    padding: 2%;
    font-size: 200%;
    margin-right: 15%;
}

.boton-comprar:hover {
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    transform: scale(1.15);
}

/*FOOTER*/

.derechos {
    text-align: center;
    margin: 0;
    padding-top: 0%;
    color: white;
    font-size: 25px;
}

@font-face {
    font-family: Comspot;
    src: url(./Fuentes/TYPEMATES\ -\ COMSPOT.OTF);
}